/*main style*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/*style for boxes and tasks*/

.container {
    width:80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding:0;
    position: relative;
}

h3 {
    margin:0;
    padding:0;
}

.box {
    background-color:#4F81BC;
    border: 1px solid #4a74a7;
    width:300px;
    height: 300px;
    margin:10px;
    padding:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    opacity: none;
    width:80px;
    height: auto;
    font-family: inherit;
    background-color: transparent;
    border:none;
    color:#ffff;
    margin: 2px 0;
}

/*style for users*/

.users_boxes {
    display: flex;
    flex-direction: row;
}

.user_tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user_numb {
    color:#ffff;
    font-size:75px;
    position: absolute;
    bottom:5px;
    right:20px;
}

#user2 {
    top:40px;
}

#user3 {
    top:80px;
}