/*main style*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/*style for boxes and tasks*/

.container {
    width:80%;
    margin:auto;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.box_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    padding:0;
    position: relative;
}

h3 {
    margin:0;
    padding:0;
}

.box {
    background-color:#4F81BC;
    border: 1px solid #4a74a7;
    width:300px;
    height: 300px;
    margin:10px;
    padding:5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.task {
    opacity: none;
    width:80px;
    height: auto;
    font-family: inherit;
    background-color: transparent;
    border:none;
    color:#ffff;
    margin: 2px 0;
}

/*style for users*/

.users_boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.user_tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.user_numb {
    color:#ffff;
    font-size:75px;
    position: absolute;
    bottom:5px;
    right:20px;
}

#user2 {
    top:40px;
}

#user3 {
    top:80px;
}

/*media queries*/

@media (max-width:1000px) {
    
    .users_boxes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    #user1 {
        -webkit-box-ordinal-group:2;
            -ms-flex-order:1;
                order:1;
    }
    
    #user2 {
        top:0;
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
    }

    #user3 {
        top:0;
        -webkit-box-ordinal-group:4;
            -ms-flex-order:3;
                order:3;
    }

}